@import "style";

.about {
  position: relative;
  width: 100%;
  height: 100vh;
  background: $background-color;
  
  &__container {
    width: 100%;
    height: 100%;
    padding: 4rem;
  }

  &__subtitle {
    font-family: $primary-font;
    font-size: 27px;
  }

  &__title {
    font-family: $secondary-font;
    font-size: 100px;
  }
}