@import "style";

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: none;
  place-items: center;
  background: $dark-color;
  z-index: 99;

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 2;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: $background-color;
    animation: changeColor 6s linear;

    @keyframes changeColor {
      0% {
        left: -100%;
      }
      50% {
        left: 0;
        opacity: 1;
      }
      100% {
        left: 0;
        opacity: 0;
      }
    }
  }
}